global_flow.json
[{"id":"468659fa.bdf678","type":"tab","label":"Global_dashboard","disabled":false,"info":""},{"id":"bcfee79c.729d98","type":"serial in","z":"468659fa.bdf678","name":"Arduino","serial":"76272770.def12","x":70,"y":220,"wires":[["efccb6ea.3e7078"]]},{"id":"efccb6ea.3e7078","type":"json","z":"468659fa.bdf678","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["aedd8cb9.60213"]]},{"id":"a3e38be2.0002d8","type":"function","z":"468659fa.bdf678","name":"Temperature","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":60,"wires":[["e495c819.ca40c8","9116fc04.4d182"]]},{"id":"22ef8ade.5e3446","type":"function","z":"468659fa.bdf678","name":"Moisture","func":"msg.payload = msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":180,"wires":[["4c400473.71c56c","79542b68.9304d4"]]},{"id":"9116fc04.4d182","type":"ui_chart","z":"468659fa.bdf678","name":"Temperature","group":"dcede70.61ba918","order":1,"width":14,"height":12,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":80,"wires":[[]]},{"id":"79542b68.9304d4","type":"ui_chart","z":"468659fa.bdf678","d":true,"name":"Humidity_Chart","group":"26287ce.b499784","order":10,"width":"16","height":"10","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":200,"wires":[[]]},{"id":"e495c819.ca40c8","type":"function","z":"468659fa.bdf678","name":"Temperature Notification","func":"var temp = msg.payload;\nif (temp>22) {\n  msg.payload =  \"Il fait: \" + String(temp) + \"°C \\\n  \\nVotre plante a chaud !\";\n  msg.topic = \"[SPIDS]: Alerte température\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":850,"y":40,"wires":[["25b6b971.c872f6"]]},{"id":"25b6b971.c872f6","type":"delay","z":"468659fa.bdf678","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1060,"y":40,"wires":[["50a98523.c4801c"]]},{"id":"50a98523.c4801c","type":"e-mail","z":"468659fa.bdf678","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1120,"y":100,"wires":[]},{"id":"4c400473.71c56c","type":"function","z":"468659fa.bdf678","name":"Moisture Notification","func":"var hum = msg.payload;\nif (hum<40) {\n  msg.payload =  \"Le taux d'humidité de l'air est: \" + String(hum) + \"% \\\n  \\nVotre plante a soif !\";\n  msg.topic = \"[SPIDS]: Alerte hygrométrie\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":160,"wires":[["3b449450.1ef25c"]]},{"id":"3b449450.1ef25c","type":"delay","z":"468659fa.bdf678","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":160,"wires":[["26bdcca4.4c1054"]]},{"id":"26bdcca4.4c1054","type":"e-mail","z":"468659fa.bdf678","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1120,"y":220,"wires":[]},{"id":"98ea436.dca39c","type":"function","z":"468659fa.bdf678","name":"Brightness","func":"msg.payload = msg.payload[3];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":320,"wires":[["f05bbcd9.83453","15968d2b.c3f6e3"]]},{"id":"15968d2b.c3f6e3","type":"ui_chart","z":"468659fa.bdf678","d":true,"name":"Brightness","group":"a23fd242.0953d","order":6,"width":"0","height":"0","label":"Brightness","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":340,"wires":[[]]},{"id":"f05bbcd9.83453","type":"function","z":"468659fa.bdf678","name":"Brightness Notification","func":"var lux = msg.payload;\nif (lux<300) {\n  msg.payload =  \"Il fait sombre: \" + String(lux) + \"lux \\\n  \\nVotre plante est dans le noir !\";\n  msg.topic = \"[SPIDS]: Alerte luminosité\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["fca16832.dbb4c8"]]},{"id":"fca16832.dbb4c8","type":"delay","z":"468659fa.bdf678","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":300,"wires":[["56982eb5.6f6"]]},{"id":"56982eb5.6f6","type":"e-mail","z":"468659fa.bdf678","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1120,"y":360,"wires":[]},{"id":"a64395f4.b3a788","type":"ui_template","z":"468659fa.bdf678","group":"15219a59.be1fd6","name":"","order":1,"width":"14","height":"12","format":"<div id=\"tracker\" style=\"display:none;\" ng-bind-html=\"msg.payload\">24.5,432,0,54</div>\n<svg id=\"svg\" style=\"position: absolute; left:0px; top:0px; width: 750px; height:450px;\"></svg>\n\n<style>\n    .temperature_reading { \n        font: 60px arial; \n        fill: red; \n        }\n\n    .title { \n        font: 40px arial; \n        fill: black; \n        }\n\n    .hygrometry_reading { \n        font: 60px arial; \n        fill: #2e4dd4; \n        }\n\n    .brightness_reading { \n        font: 60px arial; \n        fill: #ebc51e; \n        }\n</style>\n\n\n<script>\n    var State = \"down\"; \n    var Mov = 0;\n    var Temp;\n    var Lum;\n    var H20;\n    const SVGNS = \"http://www.w3.org/2000/svg\";\n    \n    function draw_disk (name, x, y, r, color) {\n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"circle\");\n        shape.setAttributeNS(null, \"cx\", x);\n        shape.setAttributeNS(null, \"cy\", y);\n        shape.setAttributeNS(null, \"r\",  r);\n        shape.setAttributeNS(null, \"fill\", color);\n        svg.appendChild(shape);\n    }\n    \n    function draw_rect(name, x, y, width, height, color, opacity = 1) {        \n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"rect\");\n        shape.setAttributeNS(null, \"x\", x);\n        shape.setAttributeNS(null, \"y\", y);\n        shape.setAttributeNS(null, \"width\",  width);\n        shape.setAttributeNS(null, \"height\",  height);\n        shape.setAttributeNS(null, \"fill\", color);\n        if (opacity != 1) {\n            shape.setAttributeNS(null, \"opacity\", opacity);\n        }\n        svg.appendChild(shape);\n    }\n\n    function draw_text(name, x, y, text, classe) {\n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"text\");\n        shape.setAttributeNS(null, \"x\", x);\n        shape.setAttributeNS(null, \"y\", y);\n        shape.innerHTML = text;\n        // shape.setAttributeNS(null, \"font-family\",  font_family);\n        // shape.setAttributeNS(null, \"font-size\",  font_size);\n        shape.setAttributeNS(null, \"class\", classe);\n        shape.setAttributeNS(null, \"text-anchor\", \"middle\");\n        svg.appendChild(shape);\n    }\n    \n    function clean (name) {\n        var svg = document.getElementById(name);\n        while (svg.lastChild) {\n            svg.removeChild(svg.lastChild);\n        }\n    }\n\n\n    function thermometer (name, x, y, r, R, h, fullness, color) {\n        var top = y - h * fullness;\n        draw_disk(name, x, y, R, color);\n        draw_disk(name, x, top, r, color);\n        draw_rect(name, x-r, top, 2*r, h*fullness, color);\n    }\n    \n    function display_temperature (name, x, y, value) {\n        var fullness = value/30;\n        thermometer(name, x, y, 23, 40, 220, 1, \"#c0c0c0\");\n        thermometer(name, x, y, 18, 35, 218, 1, \"#ffffff\");\n        thermometer(name, x, y, 12, 29, 215, 1, \"#d0d0d0\");\n        thermometer(name, x, y, 12, 29, 215, fullness, \"#ee0000\");\n        draw_text(name, x, y+107, value.toString()+\"°C\", \"temperature_reading\");\n        draw_text(name, x, y+170, \"Temperature\", \"title\");\n    }\n    \n    function hygrometer (name, x, y, r, h, fullness, color) {\n        var top = y - h * fullness;\n        draw_disk(name, x, y, r, color);\n        draw_disk(name, x, top, r, color);\n        draw_rect(name, x-r, top, 2*r, h*fullness, color);\n    }\n\n    function display_hygrometry (name, x, y, value) {\n        var fullness = value*0.01;\n        var offset = -1;\n        hygrometer(name, x, y+offset, 27, 230, 1, \"#c0c0c0\");\n        hygrometer(name, x, y+offset, 22, 229, 1, \"#ffffff\");\n        hygrometer(name, x, y+offset, 17, 229, 1, \"#d0d0d0\");\n        hygrometer(name, x, y+offset, 17, 229, fullness, \"#2e4dd4\");\n        draw_text(name, x, y+93, value.toString()+\"%\", \"hygrometry_reading\");\n        draw_text(name, x, y+155, \"Hygrometry\", \"title\");\n    }\n\n    function sun (name, x, y, r, R, eps, l, delta, fullness, color) {\n        draw_disk(name, x, y, R, color);\n        draw_disk(name, x, y, r, '#f5fcff');\n        for (let i =0; i < 8; i++) {\n            var sx = x + (R + eps) * Math.cos(i * Math.PI * 0.25);\n            var sy = y + (R + eps) * Math.sin(i * Math.PI * 0.25);\n            var ex = x + (R + eps + l * fullness) * Math.cos(i * Math.PI * 0.25);\n            var ey = y + (R + eps + l * fullness) * Math.sin(i * Math.PI * 0.25);\n            draw_disk(\"svg\", sx, sy, delta/2, color);\n            draw_disk(\"svg\", ex, ey, delta/2, color);\n            var svg = document.getElementById(name);\n            var shape = document.createElementNS(SVGNS, \"rect\");\n            shape.setAttributeNS(null, \"x\", x+R+eps);\n            shape.setAttributeNS(null, \"y\", y-delta/2);\n            shape.setAttributeNS(null, \"width\",  l*fullness);\n            shape.setAttributeNS(null, \"height\", delta);\n            shape.setAttributeNS(null, \"fill\", color);\n            shape.setAttributeNS(null, \"transform\", \"rotate(\".concat(i * 45).concat(\", \").concat(x).concat(\", \").concat(y).concat(\")\"));\n            svg.appendChild(shape);\n        }\n    }\n\n    function display_brightness (name, x, y, value) {\n        var fullness = value / 100;\n        sun(name, x, y-115, 25, 40, 17, 35, 20, 1, \"#c0c0c0\"); \n        sun(name, x, y-115, 25, 40, 17, 35, 20, fullness, \"#ebc51e\");\n        draw_text(name, x, y+93, value.toString()+\"%\", \"brightness_reading\");\n        draw_text(name, x, y+155, \"Brightness\", \"title\");\n    }\n\n    function rgb_to_hex(r,g,b) {\n    r = r.toString(16);\n    g = g.toString(16);\n    b = b.toString(16);\n    if (r.length == 1) { r = \"0\" + r; }\n    if (g.length == 1) { g = \"0\" + g; }\n    if (b.length == 1) { b = \"0\" + b; }\n    return \"#\" + r + g + b;\n    }\n    \n    function open_page(blackness = 0) {\n        var color = rgb_to_hex(blackness, blackness, blackness);\n        draw_rect(\"svg\", 0, 0, 800, 480, color);\n        if (blackness >= 255) {\n            State = \"ui_boot\";\n            clean(\"svg\");\n            main_loop();\n             return ;\n            }\n        else {\n            setTimeout(() => { open_page(blackness+5); }, 10);\n        }\n    }\n\n    function open_ui(opacity = 1) {\n        refresh_ui();\n        draw_rect(\"svg\", 0, 0, 800, 480, \"#ffffff\", opacity);\n        if (opacity <= 0) {\n            refresh_ui()\n            State = \"ui\";\n            main_loop();\n        }\n        else {\n            setTimeout(() => {open_ui(opacity - 0.05);}, 10);\n        }\n    }\n\n    function refresh_ui () {\n        var start = 25;\n        clean(\"svg\");\n        display_temperature(\"svg\", start + 125*1, 259, Temp);\n        display_hygrometry (\"svg\", start + 125*3, 274, Hum);\n        display_brightness (\"svg\", start + 125*5, 274, Lum);\n    }\n    \n    function update_values () {\n        var array = document.getElementById(\"tracker\").textContent.split(',');\n        Temp = array[0];\n        Hum = array[1];\n        Mov = array[2];\n        Lum = (parseInt(array[3])+200) / 5;\n    }\n\n    function main_loop() {\n        try {\n            update_values();\n        } catch (error) {\n            setTimeout( () => { main_loop(); }, 50);\n        }\n        if (State == \"down\") {\n            var test = check_mov();\n            console.log(\"Test : \".concat(test));\n            if (test) {\n                open_page();\n            }\n            else {\n                setTimeout(() => {main_loop();}, 200);\n            }\n        }\n        else if (State == \"ui_boot\") {\n            open_ui();\n        }\n        else if (State == \"ui\") {\n            refresh_ui();\n            setTimeout(() => {main_loop();}, 300);\n        }\n        else {\n            console.log(\"What the hell :o\");\n        }\n    }\n\n    function check_mov (expected = 0) { // Returns one if there has been movement and resets the movement sensors\n        if (expected) {\n            console.log(\"Forced boot.\");\n            open_page();\n        }\n        else if (Mov == 1) { \n            return 1; \n        }\n        else { \n            return 0; \n        }\n    }\n    \n    draw_rect(\"svg\", 0, 0, 800, 480, \"#000000\");\n    //check_mov(1);\n    setTimeout(() => { console.log(\"Booting...\"); main_loop();}, 1000);\n    \n\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":380,"wires":[[]]},{"id":"aedd8cb9.60213","type":"function","z":"468659fa.bdf678","name":"","func":"var Temp = Math.round(msg.payload.Temperature*10)/10;\nvar Hum = Math.round(msg.payload.Moisture/700);\nvar Mov = msg.payload.Mouvement;\nvar Lum = Math.round(msg.payload.Lux/5);\n//msg.payload = [Temp, Hum, Mov, Lum];\n// Don't forget to delete the line beneath this on and un-comment the one above\nmsg.payload = [25, 56, 1, 42];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["a3e38be2.0002d8","98ea436.dca39c","22ef8ade.5e3446","a64395f4.b3a788"]]},{"id":"4195bdd9.0b6504","type":"inject","z":"468659fa.bdf678","name":"Artificial Output","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":340,"wires":[["aedd8cb9.60213"]]},{"id":"4e23443f.a6bf8c","type":"ui_ui_control","z":"468659fa.bdf678","name":"","events":"change","x":770,"y":380,"wires":[[]]},{"id":"1fe4c90.f9eed37","type":"ui_button","z":"468659fa.bdf678","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"photo","tooltip":"","color":"","bgcolor":"","icon":"add_a_photo","payload":"","payloadType":"date","topic":"","x":210,"y":520,"wires":[["405f1b3.a4c7964"]]},{"id":"cf3233ac.0602f8","type":"inject","z":"468659fa.bdf678","name":"Photo scheduler","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":580,"wires":[["405f1b3.a4c7964"]]},{"id":"405f1b3.a4c7964","type":"exec","z":"468659fa.bdf678","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/take_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":470,"y":520,"wires":[[],[],[]]},{"id":"5ae4516a.35d22","type":"serial out","z":"468659fa.bdf678","name":"","serial":"76272770.def12","x":1020,"y":680,"wires":[]},{"id":"d3de789b.02719","type":"ui_button","z":"468659fa.bdf678","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump","tooltip":"","color":"","bgcolor":"","icon":"local_drink","payload":"050000\\n","payloadType":"str","topic":"","x":220,"y":680,"wires":[["5ae4516a.35d22","5530d7dd.1c046"]]},{"id":"45890c58.b780fc","type":"ui_button","z":"468659fa.bdf678","name":"Heat","group":"4199897d.4de87","order":1,"width":0,"height":0,"passthru":false,"label":"Heat","tooltip":"","color":"","bgcolor":"","icon":"whatshot","payload":"heat","payloadType":"str","topic":"","x":220,"y":860,"wires":[["5ae4516a.35d22"]]},{"id":"5c459e00.6fa66c","type":"ui_button","z":"468659fa.bdf678","name":"Heat mode","group":"4199897d.4de87","order":1,"width":0,"height":0,"passthru":false,"label":"Heat mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change heat mode ","payloadType":"str","topic":"","x":240,"y":900,"wires":[[]]},{"id":"50d5fdf0.a0ddcc","type":"ui_button","z":"468659fa.bdf678","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"Timelapse","tooltip":"","color":"","bgcolor":"","icon":"camera","payload":"","payloadType":"date","topic":"","x":730,"y":520,"wires":[["e4de93c4.b530b"]]},{"id":"e4de93c4.b530b","type":"exec","z":"468659fa.bdf678","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/timelapse.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Timelapse","x":970,"y":520,"wires":[[],[],[]]},{"id":"5530d7dd.1c046","type":"debug","z":"468659fa.bdf678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":900,"wires":[]},{"id":"c7b480bc.8a5428","type":"ui_time_scheduler","z":"468659fa.bdf678","group":"878341a3.6e1898","name":"Scheduler","startDay":0,"refresh":60,"devices":["Pump","Heat"],"customPayload":false,"eventMode":true,"sendTopic":true,"outputs":3,"order":0,"width":0,"height":0,"x":400,"y":1040,"wires":[[],["5530d7dd.1c046"],[]]},{"id":"4500c197.1352b8","type":"ui_button","z":"468659fa.bdf678","name":"","group":"1bba655a.cf2bbb","order":1,"width":0,"height":0,"passthru":false,"label":"Clear tasks","tooltip":"","color":"","bgcolor":"","icon":"schedule","payload":" ","payloadType":"str","topic":"","x":230,"y":1040,"wires":[["c7b480bc.8a5428","90a4e7e8.e565b"]]},{"id":"90a4e7e8.e565b","type":"ui_time_scheduler","z":"468659fa.bdf678","group":"54cba51d.8bf31c","name":"Scheduler","startDay":0,"refresh":"5","devices":["Light"],"customPayload":false,"eventMode":false,"sendTopic":true,"outputs":2,"order":0,"width":0,"height":0,"x":400,"y":1120,"wires":[[],[]]},{"id":"6063fc84.463584","type":"ui_slider","z":"468659fa.bdf678","name":"Pump duration ","label":"Watering duration (s)","tooltip":"","group":"c91e94e8.0661f8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":240,"y":760,"wires":[["b4b4c995.131368"]]},{"id":"b4b4c995.131368","type":"function","z":"468659fa.bdf678","name":"Encoding pump duration","func":"msg.payload = \"11\" + msg.payload + \"00\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":760,"wires":[["5530d7dd.1c046","5ae4516a.35d22"]]},{"id":"d81c992d.906d1","type":"ui_button","z":"468659fa.bdf678","name":"IconRefresh","group":"4a280c53.900d34","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","x":1070,"y":1380,"wires":[["68457d66.4fc60c"]]},{"id":"c6deac2c.6dba3","type":"ui_text","z":"468659fa.bdf678","group":"4a280c53.900d34","order":5,"width":5,"height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-left","x":1070,"y":1180,"wires":[]},{"id":"663638f5.3f93c8","type":"ui_text","z":"468659fa.bdf678","group":"4a280c53.900d34","order":3,"width":3,"height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","x":1050,"y":1260,"wires":[]},{"id":"d5ad3c1c.b5e5e","type":"ui_text","z":"468659fa.bdf678","group":"4a280c53.900d34","order":4,"width":3,"height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","x":1070,"y":1300,"wires":[]},{"id":"e1a1c28f.d613c8","type":"ui_text","z":"468659fa.bdf678","group":"4a280c53.900d34","order":6,"width":3,"height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}","layout":"row-center","x":1070,"y":1340,"wires":[]},{"id":"3a7b6dc2.44852a","type":"ui_template","z":"468659fa.bdf678","group":"4a280c53.900d34","name":"Forecast2","order":7,"width":10,"height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":1440,"wires":[[]]},{"id":"e892e2e.23f9e2","type":"function","z":"468659fa.bdf678","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n//        temp = parseFloat(temp).toFixed(1) + '°C'\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\nfunction dayName(unixTime){\n    var d = new Date(unixTime * 1000);\n    var weekday = new Array(7);\n        weekday[0] = \"Sun\";\n        weekday[1] = \"Mon\";\n        weekday[2] = \"Tue\";\n        weekday[3] = \"Wed\";\n        weekday[4] = \"Thu\";\n        weekday[5] = \"Fri\";\n        weekday[6] = \"Sat\";\n\n    return weekday[d.getDay()]\n}\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n//  return hour + ':' + min + suffix;\n  return hour + suffix;\n}\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":840,"y":1440,"wires":[["3a7b6dc2.44852a"]]},{"id":"f21ad1f1.9b64d","type":"ui_text","z":"468659fa.bdf678","group":"4a280c53.900d34","order":2,"width":2,"height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>","layout":"row-left","x":1070,"y":1220,"wires":[]},{"id":"ecb7061b.732de8","type":"http request","z":"468659fa.bdf678","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1280,"wires":[["194d50e9.e89007","e892e2e.23f9e2","a6e673a6.694d88"]]},{"id":"f0797d96.48bef","type":"inject","z":"468659fa.bdf678","name":"Trigger","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":1220,"wires":[["7dfea908.c38a5"]]},{"id":"194d50e9.e89007","type":"function","z":"468659fa.bdf678","name":"Format current data","func":"var icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\n\nvar degreesToCardinal = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"x":800,"y":1280,"wires":[["f21ad1f1.9b64d","663638f5.3f93c8","c6deac2c.6dba3","d5ad3c1c.b5e5e","e1a1c28f.d613c8"],["d81c992d.906d1"]]},{"id":"7dfea908.c38a5","type":"change","z":"468659fa.bdf678","name":"Set location, appid, units","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"48.8534","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"2.3488","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"86c5a3d156f2eeeef6de1aba1fd34d50","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"metric","tot":"str"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1220,"wires":[["ecb7061b.732de8"]]},{"id":"572209c6.b9af48","type":"ui_ui_control","z":"468659fa.bdf678","name":"Update tab","events":"all","x":190,"y":1320,"wires":[["72c32bc.0f33b54"]]},{"id":"68457d66.4fc60c","type":"link out","z":"468659fa.bdf678","name":"Refresh","links":[],"x":1195,"y":1380,"wires":[]},{"id":"fd24bae2.ca504","type":"link in","z":"468659fa.bdf678","name":"","links":[],"x":235,"y":1260,"wires":[["7dfea908.c38a5"]]},{"id":"72c32bc.0f33b54","type":"switch","z":"468659fa.bdf678","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1320,"wires":[["7dfea908.c38a5"]]},{"id":"a6e673a6.694d88","type":"debug","z":"468659fa.bdf678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1540,"wires":[]},{"id":"d0a4d43a.e6c6f","type":"inject","z":"468659fa.bdf678","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1660,"wires":[["a6e673a6.694d88"]]},{"id":"76272770.def12","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dcede70.61ba918","type":"ui_group","name":"Temperature_Chart","tab":"b8180f78.b5de3","order":1,"disp":false,"width":"14","collapse":false},{"id":"26287ce.b499784","type":"ui_group","name":"Moisture_Chart","tab":"7e3b9a99.6502a4","order":3,"disp":false,"width":"16","collapse":false},{"id":"a23fd242.0953d","type":"ui_group","name":"Brightness","tab":"7a096318.14342c","order":2,"disp":false,"width":"16","collapse":false},{"id":"15219a59.be1fd6","type":"ui_group","name":"Home","tab":"49a10b2e.7f0ce4","order":1,"disp":false,"width":"14","collapse":false},{"id":"f82a43ec.8f2aa","type":"ui_group","name":"Timelapse","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"c91e94e8.0661f8","type":"ui_group","name":"Pump","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"6","collapse":false},{"id":"4199897d.4de87","type":"ui_group","name":"Heat","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"878341a3.6e1898","type":"ui_group","name":"Pump scheduler","tab":"451ab69d.03e628","order":1,"disp":true,"width":"6","collapse":false},{"id":"1bba655a.cf2bbb","type":"ui_group","name":"Reset tasks","tab":"451ab69d.03e628","order":2,"disp":true,"width":"6","collapse":false},{"id":"54cba51d.8bf31c","type":"ui_group","name":"Heat scheduler","tab":"451ab69d.03e628","order":4,"disp":true,"width":"6","collapse":false},{"id":"4a280c53.900d34","type":"ui_group","name":"MainGroup","tab":"df0e85b8.132008","order":1,"disp":false,"width":10,"collapse":false},{"id":"b8180f78.b5de3","type":"ui_tab","d":true,"name":"Temperature_Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"7e3b9a99.6502a4","type":"ui_tab","name":"Moisture_Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"7a096318.14342c","type":"ui_tab","name":"Brightness_Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"49a10b2e.7f0ce4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"47b5ce3f.86fd","type":"ui_tab","name":"Actuators","icon":"build","disabled":false,"hidden":false},{"id":"451ab69d.03e628","type":"ui_tab","name":"Scheduling","icon":"schedule","disabled":false,"hidden":false},{"id":"df0e85b8.132008","type":"ui_tab","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false}]