global_flow.json
[{"id":"6c534113.720d38","type":"tab","label":"Global_dashboard","disabled":false,"info":""},{"id":"1d7cb8db.8c9aff","type":"serial in","z":"6c534113.720d38","name":"Arduino","serial":"76272770.def12","x":70,"y":220,"wires":[["66a9cf7c.4a34a8"]]},{"id":"66a9cf7c.4a34a8","type":"json","z":"6c534113.720d38","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["cce5069b.ac4cb","2a40a967.fcffd6","e63a14f6.dffdb8","99c1d502.7bf7a8"]]},{"id":"cce5069b.ac4cb","type":"function","z":"6c534113.720d38","name":"Temperature","func":"msg.payload = Math.round(msg.payload.Temperature*10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["b752742.a039188","cd37624e.31409","361a41a9.09679e"]]},{"id":"2a40a967.fcffd6","type":"function","z":"6c534113.720d38","name":"Moisture","func":"msg.payload = Math.round(msg.payload.Moisture);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["79eb7151.10e2c8","881bd4.f47fcc3","b608053a.4717a8"]]},{"id":"361a41a9.09679e","type":"ui_gauge","z":"6c534113.720d38","name":"","group":"213f35ab.2b765a","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"b608053a.4717a8","type":"ui_gauge","z":"6c534113.720d38","name":"Humidity","group":"fea76b87.479d58","order":2,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#3d38ca"],"seg1":"","seg2":"","x":700,"y":460,"wires":[]},{"id":"cd37624e.31409","type":"ui_chart","z":"6c534113.720d38","name":"Temperature","group":"213f35ab.2b765a","order":6,"width":7,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":140,"wires":[[]]},{"id":"881bd4.f47fcc3","type":"ui_chart","z":"6c534113.720d38","name":"","group":"fea76b87.479d58","order":10,"width":7,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":420,"wires":[[]]},{"id":"b752742.a039188","type":"function","z":"6c534113.720d38","name":"Temperature Notification","func":"var temp = msg.payload;\nif (temp>22) {\n  msg.payload =  \"Il fait: \" + String(temp) + \"°C \\\n  \\nVotre plante a chaud !\";\n  msg.topic = \"[SPIDS]: Alerte température\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["19bd4232.4090be"]]},{"id":"19bd4232.4090be","type":"delay","z":"6c534113.720d38","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":920,"y":60,"wires":[["6c7b1e70.f40b68"]]},{"id":"6c7b1e70.f40b68","type":"e-mail","z":"6c534113.720d38","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1100,"y":60,"wires":[]},{"id":"79eb7151.10e2c8","type":"function","z":"6c534113.720d38","name":"Moisture Notification","func":"var hum = msg.payload;\nif (hum<40) {\n  msg.payload =  \"Le taux d'humidité de l'air est: \" + String(hum) + \"% \\\n  \\nVotre plante a soif !\";\n  msg.topic = \"[SPIDS]: Alerte hygrométrie\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["d76d1878.3659e"]]},{"id":"d76d1878.3659e","type":"delay","z":"6c534113.720d38","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":360,"wires":[["2d35df1.a2d8ca"]]},{"id":"2d35df1.a2d8ca","type":"e-mail","z":"6c534113.720d38","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1080,"y":360,"wires":[]},{"id":"e63a14f6.dffdb8","type":"function","z":"6c534113.720d38","name":"Mouvement","func":"msg.payload = msg.payload.Mouvement;\nif (msg.payload){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["7f68d28a.4e34ec"]]},{"id":"db091acc.350f48","type":"exec","z":"6c534113.720d38","command":"/home/pi/Documents/projet/SPIDS/Sensors/screen_on.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Screen_on","x":810,"y":560,"wires":[[],[],[]]},{"id":"7f68d28a.4e34ec","type":"delay","z":"6c534113.720d38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":560,"wires":[["db091acc.350f48"]]},{"id":"99c1d502.7bf7a8","type":"function","z":"6c534113.720d38","name":"Brightness","func":"msg.payload = Math.round(msg.payload.Lux*10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["e42c20f6.5604c","119f68d4.76aa3f","29368006.4e8ab8"]]},{"id":"29368006.4e8ab8","type":"ui_gauge","z":"6c534113.720d38","name":"","group":"213f35ab.2b765a","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":"100","max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":780,"wires":[]},{"id":"119f68d4.76aa3f","type":"ui_chart","z":"6c534113.720d38","name":"Brightness","group":"213f35ab.2b765a","order":6,"width":7,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"150","ymax":"700","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":750,"y":720,"wires":[[]]},{"id":"e42c20f6.5604c","type":"function","z":"6c534113.720d38","name":"Brightness Notification","func":"var lux = msg.payload;\nif (lux<300) {\n  msg.payload =  \"Il fait sombre: \" + String(lux) + \"lux \\\n  \\nVotre plante est dans le noir !\";\n  msg.topic = \"[SPIDS]: Alerte luminosité\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["7e500a46.38e39c"]]},{"id":"7e500a46.38e39c","type":"delay","z":"6c534113.720d38","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":940,"y":640,"wires":[["1fa782c8.558db5"]]},{"id":"1fa782c8.558db5","type":"e-mail","z":"6c534113.720d38","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1120,"y":640,"wires":[]},{"id":"1fe4c90.f9eed37","type":"ui_button","z":"6c534113.720d38","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"photo","tooltip":"","color":"","bgcolor":"","icon":"add_a_photo","payload":"","payloadType":"date","topic":"","x":170,"y":940,"wires":[["405f1b3.a4c7964"]]},{"id":"cf3233ac.0602f8","type":"inject","z":"6c534113.720d38","name":"Photo scheduler","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1000,"wires":[["405f1b3.a4c7964"]]},{"id":"405f1b3.a4c7964","type":"exec","z":"6c534113.720d38","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/take_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":430,"y":940,"wires":[[],[],[]]},{"id":"5ae4516a.35d22","type":"serial out","z":"6c534113.720d38","name":"","serial":"76272770.def12","x":420,"y":1140,"wires":[]},{"id":"d3de789b.02719","type":"ui_button","z":"6c534113.720d38","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump","tooltip":"","color":"","bgcolor":"","icon":"local_drink","payload":"water","payloadType":"str","topic":"","x":180,"y":1100,"wires":[["5ae4516a.35d22"]]},{"id":"c34de08d.bdf8b8","type":"ui_button","z":"6c534113.720d38","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change mode pump","payloadType":"str","topic":"","x":200,"y":1140,"wires":[[]]},{"id":"b15a13fd.e5c3e8","type":"serial out","z":"6c534113.720d38","name":"","serial":"76272770.def12","x":420,"y":1320,"wires":[]},{"id":"45890c58.b780fc","type":"ui_button","z":"6c534113.720d38","name":"Heat","group":"4199897d.4de87","order":1,"width":0,"height":0,"passthru":false,"label":"Heat","tooltip":"","color":"","bgcolor":"","icon":"whatshot","payload":"heat","payloadType":"str","topic":"","x":180,"y":1280,"wires":[["b15a13fd.e5c3e8"]]},{"id":"5c459e00.6fa66c","type":"ui_button","z":"6c534113.720d38","name":"Heat mode","group":"4199897d.4de87","order":1,"width":0,"height":0,"passthru":false,"label":"Heat mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change heat mode ","payloadType":"str","topic":"","x":200,"y":1320,"wires":[[]]},{"id":"50d5fdf0.a0ddcc","type":"ui_button","z":"6c534113.720d38","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"Timelapse","tooltip":"","color":"","bgcolor":"","icon":"camera","payload":"","payloadType":"date","topic":"","x":690,"y":940,"wires":[["e4de93c4.b530b"]]},{"id":"e4de93c4.b530b","type":"exec","z":"6c534113.720d38","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/timelapse.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Timelapse","x":930,"y":940,"wires":[[],[],[]]},{"id":"5530d7dd.1c046","type":"debug","z":"6c534113.720d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1520,"wires":[]},{"id":"c7b480bc.8a5428","type":"ui_time_scheduler","z":"6c534113.720d38","group":"54cba51d.8bf31c","name":"Scheduler","startDay":0,"refresh":60,"devices":["Pompe","Heat"],"customPayload":false,"eventMode":true,"sendTopic":true,"outputs":3,"order":0,"width":0,"height":0,"x":260,"y":1440,"wires":[["5530d7dd.1c046"],["5530d7dd.1c046"],[]]},{"id":"4500c197.1352b8","type":"ui_button","z":"6c534113.720d38","name":"","group":"54cba51d.8bf31c","order":1,"width":0,"height":0,"passthru":false,"label":"New task","tooltip":"","color":"","bgcolor":"","icon":"schedule","payload":" ","payloadType":"str","topic":"","x":80,"y":1440,"wires":[["c7b480bc.8a5428","90a4e7e8.e565b"]]},{"id":"90a4e7e8.e565b","type":"ui_time_scheduler","z":"6c534113.720d38","group":"54cba51d.8bf31c","name":"Scheduler","startDay":0,"refresh":"5","devices":["Light"],"customPayload":false,"eventMode":false,"sendTopic":true,"outputs":2,"order":0,"width":0,"height":0,"x":260,"y":1520,"wires":[["5530d7dd.1c046"],[]]},{"id":"76272770.def12","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"213f35ab.2b765a","type":"ui_group","z":"","name":"Brightness","tab":"334780c8.e751b","order":2,"disp":true,"width":"6","collapse":false},{"id":"fea76b87.479d58","type":"ui_group","z":"","name":"Moisture","tab":"334780c8.e751b","order":3,"disp":true,"width":"6","collapse":false},{"id":"f82a43ec.8f2aa","type":"ui_group","z":"","name":"Timelapse","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"c91e94e8.0661f8","type":"ui_group","z":"","name":"Pump","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"6","collapse":false},{"id":"4199897d.4de87","type":"ui_group","z":"","name":"Heat","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"54cba51d.8bf31c","type":"ui_group","z":"","name":"Scheduler","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"6","collapse":false},{"id":"334780c8.e751b","type":"ui_tab","z":"","name":"Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Actuators","icon":"build","disabled":false,"hidden":false}]