global_flow.json
[{"id":"c1ddab94.60d9b","type":"tab","label":"Global_dashboard","disabled":false,"info":""},{"id":"d4b04eed.a20158","type":"serial in","z":"c1ddab94.60d9b","name":"Arduino","serial":"76272770.def12","x":70,"y":300,"wires":[["1d2df955.b46107"]]},{"id":"1d2df955.b46107","type":"json","z":"c1ddab94.60d9b","name":"","property":"payload","action":"","pretty":false,"x":290,"y":300,"wires":[["b0fdad8a.33de08"]]},{"id":"91053142.e26b7","type":"function","z":"c1ddab94.60d9b","name":"Temperature","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["39e4187b.f3cb58","184bb4af.566e43"]]},{"id":"9742a95.74550d8","type":"function","z":"c1ddab94.60d9b","name":"Moisture","func":"msg.payload = msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["2b3a1d4f.5eccf2","39da537a.83ac6c"]]},{"id":"184bb4af.566e43","type":"ui_chart","z":"c1ddab94.60d9b","name":"Temperature","group":"d9ecdbc1.be9588","order":1,"width":14,"height":12,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":160,"wires":[[]]},{"id":"39da537a.83ac6c","type":"ui_chart","z":"c1ddab94.60d9b","d":true,"name":"Humidity_Chart","group":"e02474c6.0acfc","order":10,"width":"16","height":"10","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":860,"y":280,"wires":[[]]},{"id":"39e4187b.f3cb58","type":"function","z":"c1ddab94.60d9b","name":"Temperature Notification","func":"var temp = msg.payload;\nif (temp>22) {\n  msg.payload =  \"Il fait: \" + String(temp) + \"°C \\\n  \\nVotre plante a chaud !\";\n  msg.topic = \"[SPIDS]: Alerte température\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":890,"y":120,"wires":[["bf9a9cb3.7424b8"]]},{"id":"bf9a9cb3.7424b8","type":"delay","z":"c1ddab94.60d9b","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1100,"y":120,"wires":[["c704da53.56872"]]},{"id":"c704da53.56872","type":"e-mail","z":"c1ddab94.60d9b","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1160,"y":180,"wires":[]},{"id":"2b3a1d4f.5eccf2","type":"function","z":"c1ddab94.60d9b","name":"Moisture Notification","func":"var hum = msg.payload;\nif (hum<40) {\n  msg.payload =  \"Le taux d'humidité de l'air est: \" + String(hum) + \"% \\\n  \\nVotre plante a soif !\";\n  msg.topic = \"[SPIDS]: Alerte hygrométrie\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["6fd60a42.271354"]]},{"id":"6fd60a42.271354","type":"delay","z":"c1ddab94.60d9b","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":240,"wires":[["bd74cc71.a955a8"]]},{"id":"bd74cc71.a955a8","type":"e-mail","z":"c1ddab94.60d9b","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1160,"y":300,"wires":[]},{"id":"2ee6935a.4a459c","type":"function","z":"c1ddab94.60d9b","name":"Brightness","func":"msg.payload = msg.payload[3];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["10b389aa.1d8436","9a7d1e56.db08a"]]},{"id":"9a7d1e56.db08a","type":"ui_chart","z":"c1ddab94.60d9b","d":true,"name":"Brightness","group":"e45cc09c.8eb418","order":6,"width":"0","height":"0","label":"Brightness","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":420,"wires":[[]]},{"id":"10b389aa.1d8436","type":"function","z":"c1ddab94.60d9b","name":"Brightness Notification","func":"var lux = msg.payload;\nif (lux<300) {\n  msg.payload =  \"Il fait sombre: \" + String(lux) + \"lux \\\n  \\nVotre plante est dans le noir !\";\n  msg.topic = \"[SPIDS]: Alerte luminosité\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["8ab671d9.b9dea"]]},{"id":"8ab671d9.b9dea","type":"delay","z":"c1ddab94.60d9b","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":380,"wires":[["414af922.7c5f98"]]},{"id":"414af922.7c5f98","type":"e-mail","z":"c1ddab94.60d9b","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1160,"y":440,"wires":[]},{"id":"a798cb6c.ce1ab8","type":"ui_template","z":"c1ddab94.60d9b","group":"64a1632b.01b6dc","name":"","order":1,"width":"14","height":"12","format":"<div id=\"tracker\" style=\"display:none;\" ng-bind-html=\"msg.payload\">24.5,432,0,54</div>\n<svg id=\"svg\" style=\"position: absolute; left:0px; top:0px; width: 750px; height:450px;\"></svg>\n\n<style>\n    .temperature_reading { \n        font: 60px arial; \n        fill: red; \n        }\n\n    .title { \n        font: 40px arial; \n        fill: black; \n        }\n\n    .hygrometry_reading { \n        font: 60px arial; \n        fill: #2e4dd4; \n        }\n\n    .brightness_reading { \n        font: 60px arial; \n        fill: #ebc51e; \n        }\n</style>\n\n\n<script>\n    var State = \"down\"; \n    var Mov = 0;\n    var Temp;\n    var Lum;\n    var H20;\n    const SVGNS = \"http://www.w3.org/2000/svg\";\n    \n    function draw_disk (name, x, y, r, color) {\n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"circle\");\n        shape.setAttributeNS(null, \"cx\", x);\n        shape.setAttributeNS(null, \"cy\", y);\n        shape.setAttributeNS(null, \"r\",  r);\n        shape.setAttributeNS(null, \"fill\", color);\n        svg.appendChild(shape);\n    }\n    \n    function draw_rect(name, x, y, width, height, color, opacity = 1) {        \n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"rect\");\n        shape.setAttributeNS(null, \"x\", x);\n        shape.setAttributeNS(null, \"y\", y);\n        shape.setAttributeNS(null, \"width\",  width);\n        shape.setAttributeNS(null, \"height\",  height);\n        shape.setAttributeNS(null, \"fill\", color);\n        if (opacity != 1) {\n            shape.setAttributeNS(null, \"opacity\", opacity);\n        }\n        svg.appendChild(shape);\n    }\n\n    function draw_text(name, x, y, text, classe) {\n        var svg = document.getElementById(name);\n        var shape = document.createElementNS(SVGNS, \"text\");\n        shape.setAttributeNS(null, \"x\", x);\n        shape.setAttributeNS(null, \"y\", y);\n        shape.innerHTML = text;\n        // shape.setAttributeNS(null, \"font-family\",  font_family);\n        // shape.setAttributeNS(null, \"font-size\",  font_size);\n        shape.setAttributeNS(null, \"class\", classe);\n        shape.setAttributeNS(null, \"text-anchor\", \"middle\");\n        svg.appendChild(shape);\n    }\n    \n    function clean (name) {\n        var svg = document.getElementById(name);\n        while (svg.lastChild) {\n            svg.removeChild(svg.lastChild);\n        }\n    }\n\n\n    function thermometer (name, x, y, r, R, h, fullness, color) {\n        var top = y - h * fullness;\n        draw_disk(name, x, y, R, color);\n        draw_disk(name, x, top, r, color);\n        draw_rect(name, x-r, top, 2*r, h*fullness, color);\n    }\n    \n    function display_temperature (name, x, y, value) {\n        var fullness = value/30;\n        thermometer(name, x, y, 23, 40, 220, 1, \"#c0c0c0\");\n        thermometer(name, x, y, 18, 35, 218, 1, \"#ffffff\");\n        thermometer(name, x, y, 12, 29, 215, 1, \"#d0d0d0\");\n        thermometer(name, x, y, 12, 29, 215, fullness, \"#ee0000\");\n        draw_text(name, x, y+107, value.toString()+\"°C\", \"temperature_reading\");\n        draw_text(name, x, y+170, \"Temperature\", \"title\");\n    }\n    \n    function hygrometer (name, x, y, r, h, fullness, color) {\n        var top = y - h * fullness;\n        draw_disk(name, x, y, r, color);\n        draw_disk(name, x, top, r, color);\n        draw_rect(name, x-r, top, 2*r, h*fullness, color);\n    }\n\n    function display_hygrometry (name, x, y, value) {\n        var fullness = value*0.01;\n        var offset = -1;\n        hygrometer(name, x, y+offset, 27, 230, 1, \"#c0c0c0\");\n        hygrometer(name, x, y+offset, 22, 229, 1, \"#ffffff\");\n        hygrometer(name, x, y+offset, 17, 229, 1, \"#d0d0d0\");\n        hygrometer(name, x, y+offset, 17, 229, fullness, \"#2e4dd4\");\n        draw_text(name, x, y+93, value.toString()+\"%\", \"hygrometry_reading\");\n        draw_text(name, x, y+155, \"Hygrometry\", \"title\");\n    }\n\n    function sun (name, x, y, r, R, eps, l, delta, fullness, color) {\n        draw_disk(name, x, y, R, color);\n        draw_disk(name, x, y, r, '#f5fcff');\n        for (let i =0; i < 8; i++) {\n            var sx = x + (R + eps) * Math.cos(i * Math.PI * 0.25);\n            var sy = y + (R + eps) * Math.sin(i * Math.PI * 0.25);\n            var ex = x + (R + eps + l * fullness) * Math.cos(i * Math.PI * 0.25);\n            var ey = y + (R + eps + l * fullness) * Math.sin(i * Math.PI * 0.25);\n            draw_disk(\"svg\", sx, sy, delta/2, color);\n            draw_disk(\"svg\", ex, ey, delta/2, color);\n            var svg = document.getElementById(name);\n            var shape = document.createElementNS(SVGNS, \"rect\");\n            shape.setAttributeNS(null, \"x\", x+R+eps);\n            shape.setAttributeNS(null, \"y\", y-delta/2);\n            shape.setAttributeNS(null, \"width\",  l*fullness);\n            shape.setAttributeNS(null, \"height\", delta);\n            shape.setAttributeNS(null, \"fill\", color);\n            shape.setAttributeNS(null, \"transform\", \"rotate(\".concat(i * 45).concat(\", \").concat(x).concat(\", \").concat(y).concat(\")\"));\n            svg.appendChild(shape);\n        }\n    }\n\n    function display_brightness (name, x, y, value) {\n        var fullness = value / 100;\n        sun(name, x, y-115, 25, 40, 17, 35, 20, 1, \"#c0c0c0\"); \n        sun(name, x, y-115, 25, 40, 17, 35, 20, fullness, \"#ebc51e\");\n        draw_text(name, x, y+93, value.toString()+\"%\", \"brightness_reading\");\n        draw_text(name, x, y+155, \"Brightness\", \"title\");\n    }\n\n    function rgb_to_hex(r,g,b) {\n    r = r.toString(16);\n    g = g.toString(16);\n    b = b.toString(16);\n    if (r.length == 1) { r = \"0\" + r; }\n    if (g.length == 1) { g = \"0\" + g; }\n    if (b.length == 1) { b = \"0\" + b; }\n    return \"#\" + r + g + b;\n    }\n    \n    function open_page(blackness = 0) {\n        var color = rgb_to_hex(blackness, blackness, blackness);\n        draw_rect(\"svg\", 0, 0, 800, 480, color);\n        if (blackness >= 255) {\n            State = \"ui_boot\";\n            clean(\"svg\");\n            main_loop();\n             return ;\n            }\n        else {\n            setTimeout(() => { open_page(blackness+5); }, 10);\n        }\n    }\n\n    function open_ui(opacity = 1) {\n        refresh_ui();\n        draw_rect(\"svg\", 0, 0, 800, 480, \"#ffffff\", opacity);\n        if (opacity <= 0) {\n            refresh_ui()\n            State = \"ui\";\n            main_loop();\n        }\n        else {\n            setTimeout(() => {open_ui(opacity - 0.05);}, 10);\n        }\n    }\n\n    function refresh_ui () {\n        var start = 25;\n        clean(\"svg\");\n        display_temperature(\"svg\", start + 125*1, 259, Temp);\n        display_hygrometry (\"svg\", start + 125*3, 274, Hum);\n        display_brightness (\"svg\", start + 125*5, 274, Lum);\n    }\n    \n    function update_values () {\n        var array = document.getElementById(\"tracker\").textContent.split(',');\n        Temp = array[0];\n        Hum = array[1];\n        Mov = array[2];\n        Lum = (parseInt(array[3])+200) / 5;\n    }\n\n    function main_loop() {\n        try {\n            update_values();\n        } catch (error) {\n            setTimeout( () => { main_loop(); }, 50);\n        }\n        if (State == \"down\") {\n            var test = check_mov();\n            console.log(\"Test : \".concat(test));\n            if (test) {\n                open_page();\n            }\n            else {\n                setTimeout(() => {main_loop();}, 200);\n            }\n        }\n        else if (State == \"ui_boot\") {\n            open_ui();\n        }\n        else if (State == \"ui\") {\n            refresh_ui();\n            setTimeout(() => {main_loop();}, 300);\n        }\n        else {\n            console.log(\"What the hell :o\");\n        }\n    }\n\n    function check_mov (expected = 0) { // Returns one if there has been movement and resets the movement sensors\n        if (expected) {\n            console.log(\"Forced boot.\");\n            open_page();\n        }\n        else if (Mov == 1) { \n            return 1; \n        }\n        else { \n            return 0; \n        }\n    }\n    \n    draw_rect(\"svg\", 0, 0, 800, 480, \"#000000\");\n    //check_mov(1);\n    setTimeout(() => { console.log(\"Booting...\"); main_loop();}, 1000);\n    \n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":460,"wires":[[]]},{"id":"b0fdad8a.33de08","type":"function","z":"c1ddab94.60d9b","name":"","func":"var Temp = Math.round(msg.payload.Temperature*10)/10;\nvar Hum = Math.round(msg.payload.Moisture/700);\nvar Mov = msg.payload.Mouvement;\nvar Lum = Math.round(msg.payload.Lux/5);\n//msg.payload = [Temp, Hum, Mov, Lum];\n// Don't forget to delete the line beneath this on and un-comment the one above\nmsg.payload = [25, 56, 1, 42];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["91053142.e26b7","2ee6935a.4a459c","9742a95.74550d8","a798cb6c.ce1ab8"]]},{"id":"b1a5b1ef.ac8ac","type":"inject","z":"c1ddab94.60d9b","name":"Artificial Output","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":420,"wires":[["b0fdad8a.33de08"]]},{"id":"bd0eb607.144e88","type":"ui_ui_control","z":"c1ddab94.60d9b","name":"","events":"change","x":810,"y":460,"wires":[[]]},{"id":"a3a59f43.369d5","type":"ui_button","z":"c1ddab94.60d9b","name":"","group":"d35bccf4.6b6b88","order":1,"width":0,"height":0,"passthru":false,"label":"photo","tooltip":"","color":"","bgcolor":"","icon":"add_a_photo","payload":"","payloadType":"date","topic":"","x":210,"y":620,"wires":[["69c7d228.fa3f74"]]},{"id":"ee63539d.715ff8","type":"inject","z":"c1ddab94.60d9b","name":"Photo scheduler","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":660,"wires":[["69c7d228.fa3f74"]]},{"id":"69c7d228.fa3f74","type":"exec","z":"c1ddab94.60d9b","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/take_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":470,"y":620,"wires":[["a71639ab.cfbc48"],[],[]]},{"id":"ac5f55d3.3734d8","type":"serial out","z":"c1ddab94.60d9b","name":"","serial":"76272770.def12","x":1100,"y":880,"wires":[]},{"id":"2aa9adc1.240b9a","type":"ui_button","z":"c1ddab94.60d9b","name":"","group":"f2b9939e.0524b","order":1,"width":0,"height":0,"passthru":false,"label":"Pump","tooltip":"","color":"","bgcolor":"","icon":"local_drink","payload":"050001","payloadType":"str","topic":"","x":210,"y":820,"wires":[["ac5f55d3.3734d8"]]},{"id":"1cf43ab2.4816b5","type":"ui_button","z":"c1ddab94.60d9b","name":"","group":"d35bccf4.6b6b88","order":1,"width":0,"height":0,"passthru":false,"label":"Timelapse","tooltip":"","color":"","bgcolor":"","icon":"camera","payload":"","payloadType":"date","topic":"","x":230,"y":560,"wires":[["c93c041d.d113d8"]]},{"id":"c93c041d.d113d8","type":"exec","z":"c1ddab94.60d9b","command":"python3 /home/pi/Documents/projet/SPIDS/Actuators/timelapse.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Timelapse","x":470,"y":560,"wires":[[],[],[]]},{"id":"510ac664.cd7e2","type":"ui_time_scheduler","z":"c1ddab94.60d9b","group":"878341a3.6e1898","name":"Scheduler","startDay":0,"refresh":60,"devices":["Pump"],"customPayload":false,"eventMode":true,"sendTopic":true,"outputs":2,"order":0,"width":0,"height":0,"x":400,"y":1040,"wires":[["24502be6.ff3b04"],[]]},{"id":"a6b9b29f.a02d3","type":"ui_button","z":"c1ddab94.60d9b","name":"","group":"1bba655a.cf2bbb","order":1,"width":0,"height":0,"passthru":false,"label":"Clear tasks","tooltip":"","color":"","bgcolor":"","icon":"schedule","payload":" ","payloadType":"str","topic":"","x":230,"y":1040,"wires":[["510ac664.cd7e2","61bfdf62.65ffb","40dec4c4.458b94"]]},{"id":"61bfdf62.65ffb","type":"ui_time_scheduler","z":"c1ddab94.60d9b","group":"c773a461.9bbe3","name":"Scheduler","startDay":0,"refresh":"60","devices":["Light"],"customPayload":false,"eventMode":false,"sendTopic":true,"outputs":2,"order":0,"width":0,"height":0,"x":400,"y":1100,"wires":[[],["6ed3378d.a84308"]]},{"id":"e7e7403f.55f488","type":"ui_slider","z":"c1ddab94.60d9b","name":"Pump duration ","label":"Watering duration (s)","tooltip":"","group":"f2b9939e.0524b","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":240,"y":760,"wires":[["f5ca4ba1.b5cd9"]]},{"id":"f5ca4ba1.b5cd9","type":"function","z":"c1ddab94.60d9b","name":"Encoding pump duration","func":"msg.payload = \"11\" + msg.payload + \"00\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":760,"wires":[["ac5f55d3.3734d8"]]},{"id":"f029e1d6.0753b","type":"ui_button","z":"c1ddab94.60d9b","name":"IconRefresh","group":"4a280c53.900d34","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","x":1070,"y":1380,"wires":[["f93b9697.2d8b88"]]},{"id":"c7273014.793fa","type":"ui_text","z":"c1ddab94.60d9b","group":"4a280c53.900d34","order":5,"width":5,"height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-left","x":1070,"y":1180,"wires":[]},{"id":"dda05ec5.d1c85","type":"ui_text","z":"c1ddab94.60d9b","group":"4a280c53.900d34","order":3,"width":3,"height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","x":1050,"y":1260,"wires":[]},{"id":"4fd76e4d.cd165","type":"ui_text","z":"c1ddab94.60d9b","group":"4a280c53.900d34","order":4,"width":3,"height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","x":1070,"y":1300,"wires":[]},{"id":"913bc729.8741c","type":"ui_text","z":"c1ddab94.60d9b","group":"4a280c53.900d34","order":6,"width":3,"height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}","layout":"row-center","x":1070,"y":1340,"wires":[]},{"id":"1b2e8bbe.24c004","type":"ui_template","z":"c1ddab94.60d9b","group":"4a280c53.900d34","name":"Forecast2","order":7,"width":10,"height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":1440,"wires":[[]]},{"id":"401f0213.d81c14","type":"function","z":"c1ddab94.60d9b","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n//        temp = parseFloat(temp).toFixed(1) + '°C'\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\nfunction dayName(unixTime){\n    var d = new Date(unixTime * 1000);\n    var weekday = new Array(7);\n        weekday[0] = \"Sun\";\n        weekday[1] = \"Mon\";\n        weekday[2] = \"Tue\";\n        weekday[3] = \"Wed\";\n        weekday[4] = \"Thu\";\n        weekday[5] = \"Fri\";\n        weekday[6] = \"Sat\";\n\n    return weekday[d.getDay()]\n}\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n//  return hour + ':' + min + suffix;\n  return hour + suffix;\n}\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":840,"y":1440,"wires":[["1b2e8bbe.24c004"]]},{"id":"c51f0c75.61b54","type":"ui_text","z":"c1ddab94.60d9b","group":"4a280c53.900d34","order":2,"width":2,"height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>","layout":"row-left","x":1070,"y":1220,"wires":[]},{"id":"6e171a64.492d04","type":"http request","z":"c1ddab94.60d9b","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1280,"wires":[["ae9cd30b.3cc188","401f0213.d81c14","98bfc3bb.69d3c8"]]},{"id":"6f993d71.1cb60c","type":"inject","z":"c1ddab94.60d9b","name":"Trigger","topic":"","payload":"true","payloadType":"bool","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":1220,"wires":[["e9d3dfba.e0a2"]]},{"id":"ae9cd30b.3cc188","type":"function","z":"c1ddab94.60d9b","name":"Format current data","func":"var icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\n\nvar degreesToCardinal = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"x":800,"y":1280,"wires":[["c51f0c75.61b54","dda05ec5.d1c85","c7273014.793fa","4fd76e4d.cd165","913bc729.8741c"],["f029e1d6.0753b"]]},{"id":"e9d3dfba.e0a2","type":"change","z":"c1ddab94.60d9b","name":"Set location, appid, units","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"48.8534","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"2.3488","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"86c5a3d156f2eeeef6de1aba1fd34d50","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"metric","tot":"str"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1220,"wires":[["6e171a64.492d04"]]},{"id":"c292670d.8669c","type":"ui_ui_control","z":"c1ddab94.60d9b","name":"Update tab","events":"all","x":190,"y":1320,"wires":[["7628630e.0dbeec"]]},{"id":"f93b9697.2d8b88","type":"link out","z":"c1ddab94.60d9b","name":"Refresh","links":[],"x":1195,"y":1380,"wires":[]},{"id":"bcf608cb.c47728","type":"link in","z":"c1ddab94.60d9b","name":"","links":[],"x":235,"y":1260,"wires":[["e9d3dfba.e0a2"]]},{"id":"7628630e.0dbeec","type":"switch","z":"c1ddab94.60d9b","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1320,"wires":[["e9d3dfba.e0a2"]]},{"id":"98bfc3bb.69d3c8","type":"function","z":"c1ddab94.60d9b","name":"Ecriture du rapport pour demain","func":"// Récupération des données du lendemain\n\n\nvar data=msg.payload.daily[1];\nvar tday=data.temp.day;\nvar tmax=data.temp.max;\nvar tmin=data.temp.min;\nvar pression=data.pressure;\nvar humidité=data.humidity;\nvar windspeed=data.wind_speed;\nvar mainweather=data.weather[0].main;\n\n\n\n// Réécriture des heures de lever et coucher de soleil\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\nsunrise=timeConvert(data.sunrise);\nsunset=timeConvert(data.sunset);\n\n// Ecriture du mail\nmsg.topic=\"[SPIDS] : Feuille de route pour demain\";\nweather = \"Tommorrow, the weather will be:\" + \" \"+mainweather+\".\";\nsun=\"The sun will rise at \"+sunrise+\" and set at \"+sunset+\".\";\ntemperatures=\" The temperatures will fluctuate between \"+tmin+\"°C\"+\" and \"+tmax+\"°C\"+\".\"+\" The average temperature during the day will be \"+tday+\"°C.\";\nhum=\"The humidity rate will be about \"+humidité+\"%.\";\nwind=\"The wind speed will be \"+Math.trunc(windspeed*3.6)+\"km/h.\"\ntransition=\"Our advices: \"\nif (tday>=20&&tday<=35){\n    if (Math.trunc(windspeed*3.6)>=60){\n        advice=\"There is too much wind tomorrow. You should let your plant inside. Don't forget to put a source a source of light near the plant and and to hydrate it if needed.\"\n        \n    }else{\n        if (mainweather==\"Rain\"||mainweather==\"Shower rain\"){\n            advice=\"You can put your plant outside. With the rain, you don't need to water it additionally.\"\n        }else{\n            advice=\"You can put your plant outside. However, don't forget to hydrate it if needed.\"\n        }\n    }\n    \n}else{\n    advice=\"Temperatures don't enable your plant to come outside.You should let your plant inside. Don't forget to put a source a source of light near the plant and and to hydrate it if needed.\"\n}\n\nmsg.payload=weather+sun+temperatures+hum+wind+\"\\n\"+\"\\n\"+transition+\"\\n\"+advice+\"\\n\"+\"\\n\"+\"Sincerely,\"+\"\\n\"+\"Team SPIDS\";\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":830,"y":1540,"wires":[["281dda6a.035ea6"]]},{"id":"281dda6a.035ea6","type":"e-mail","z":"c1ddab94.60d9b","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Email","x":1050,"y":1540,"wires":[]},{"id":"40dec4c4.458b94","type":"ui_time_scheduler","z":"c1ddab94.60d9b","group":"54cba51d.8bf31c","name":"Scheduler","startDay":0,"refresh":"60","devices":["Heat"],"customPayload":false,"eventMode":false,"sendTopic":true,"outputs":2,"order":0,"width":0,"height":0,"x":400,"y":980,"wires":[[],["19852014.cd7698"]]},{"id":"19852014.cd7698","type":"function","z":"c1ddab94.60d9b","name":"Heat format","func":"if (msg.payload){\n    msg.payload = \"061111\";\n}\nif (!msg.payload){\n    msg.payload = \"060000\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":960,"wires":[["ac5f55d3.3734d8"]]},{"id":"24502be6.ff3b04","type":"function","z":"c1ddab94.60d9b","name":"Pump format","func":"msg.payload = \"050001\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1040,"wires":[["ac5f55d3.3734d8"]]},{"id":"6ed3378d.a84308","type":"function","z":"c1ddab94.60d9b","name":"Light format","func":"if (msg.payload){\n    msg.payload = \"121111\";\n}\nif (!msg.payload){\n    msg.payload = \"120000\";\n}return msg;","outputs":1,"noerr":0,"x":770,"y":1100,"wires":[["ac5f55d3.3734d8"]]},{"id":"65345e67.8b81c","type":"ui_switch","z":"c1ddab94.60d9b","name":"","label":"Heat ON/OFF","tooltip":"","group":"70fb3d0.50813c4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"whatshot","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"whatshot","offcolor":"black","x":240,"y":880,"wires":[["19852014.cd7698"]]},{"id":"a71639ab.cfbc48","type":"ui_template","z":"c1ddab94.60d9b","group":"6d687ebd.8f5248","name":"","order":0,"width":"11","height":"11","format":"<p> {{msg.payload}}:\n<img src=  {{msg.payload}} alt='Image not found'  />\n</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":600,"wires":[[]]},{"id":"76272770.def12","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d9ecdbc1.be9588","type":"ui_group","z":"","name":"Temperature_Chart","tab":"dfccf834.151cc","order":1,"disp":false,"width":"14","collapse":false},{"id":"e02474c6.0acfc","type":"ui_group","name":"Moisture_Chart","tab":"871dc619.536f1","order":3,"disp":false,"width":"16","collapse":false},{"id":"e45cc09c.8eb418","type":"ui_group","name":"Brightness","tab":"c0534a07.3c5b58","order":2,"disp":false,"width":"16","collapse":false},{"id":"64a1632b.01b6dc","type":"ui_group","name":"Home","tab":"2b595661.475d6a","order":1,"disp":false,"width":"14","collapse":false},{"id":"d35bccf4.6b6b88","type":"ui_group","name":"Timelapse","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"f2b9939e.0524b","type":"ui_group","name":"Pump","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"6","collapse":false},{"id":"878341a3.6e1898","type":"ui_group","z":"","name":"Pump scheduler","tab":"451ab69d.03e628","order":1,"disp":true,"width":"6","collapse":false},{"id":"1bba655a.cf2bbb","type":"ui_group","z":"","name":"Reset tasks","tab":"451ab69d.03e628","order":4,"disp":true,"width":"6","collapse":false},{"id":"c773a461.9bbe3","type":"ui_group","z":"","name":"Light scheduling","tab":"451ab69d.03e628","order":3,"disp":true,"width":"6","collapse":false},{"id":"4a280c53.900d34","type":"ui_group","z":"","name":"MainGroup","tab":"df0e85b8.132008","order":1,"disp":false,"width":10,"collapse":false},{"id":"54cba51d.8bf31c","type":"ui_group","z":"","name":"Heat scheduler","tab":"451ab69d.03e628","order":2,"disp":true,"width":"6","collapse":false},{"id":"70fb3d0.50813c4","type":"ui_group","name":"Heat","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d687ebd.8f5248","type":"ui_group","z":"","name":"Daily image","tab":"48037152.321b3","order":1,"disp":true,"width":"15","collapse":false},{"id":"dfccf834.151cc","type":"ui_tab","z":"","name":"Temperature_Chart","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"871dc619.536f1","type":"ui_tab","name":"Moisture_Chart","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"c0534a07.3c5b58","type":"ui_tab","name":"Brightness_Chart","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"2b595661.475d6a","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Actuators","icon":"build","order":3,"disabled":false,"hidden":false},{"id":"451ab69d.03e628","type":"ui_tab","z":"","name":"Scheduling","icon":"schedule","order":5,"disabled":false,"hidden":false},{"id":"df0e85b8.132008","type":"ui_tab","z":"","name":"Weather","icon":"fa-thermometer-half","order":2,"disabled":false,"hidden":false},{"id":"48037152.321b3","type":"ui_tab","z":"","name":"Image","icon":"add_a_photo","disabled":false,"hidden":false}]