Sensors/Sensors/sensors.json
[{"id":"b4844c16.4045b8","type":"tab","label":"humidity_dashboard","disabled":false,"info":""},{"id":"370da3fe.bf7bbc","type":"serial in","z":"b4844c16.4045b8","name":"Arduino","serial":"76272770.def12","x":70,"y":220,"wires":[["6949972f.9085d8"]]},{"id":"6949972f.9085d8","type":"json","z":"b4844c16.4045b8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["30cc4fcb.974af","e421597.6278228","f6311e61.76183"]]},{"id":"30cc4fcb.974af","type":"function","z":"b4844c16.4045b8","name":"Temperature","func":"msg.payload = Math.round(msg.payload.Temperature*10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["c70e5440.fa7fd8","61187b01.92d084","b8353180.8ea29"]]},{"id":"e421597.6278228","type":"function","z":"b4844c16.4045b8","name":"Moisture","func":"msg.payload = Math.round(msg.payload.Moisture);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["51c1427f.5a9b14","aadedb17.fc99e8","5c860547.52874c"]]},{"id":"b8353180.8ea29","type":"ui_gauge","z":"b4844c16.4045b8","name":"","group":"213f35ab.2b765a","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"5c860547.52874c","type":"ui_gauge","z":"b4844c16.4045b8","name":"Humidity","group":"fea76b87.479d58","order":2,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#3d38ca"],"seg1":"","seg2":"","x":700,"y":460,"wires":[]},{"id":"61187b01.92d084","type":"ui_chart","z":"b4844c16.4045b8","name":"Temperature","group":"213f35ab.2b765a","order":6,"width":7,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":140,"wires":[[]]},{"id":"aadedb17.fc99e8","type":"ui_chart","z":"b4844c16.4045b8","name":"","group":"fea76b87.479d58","order":10,"width":7,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":420,"wires":[[]]},{"id":"c70e5440.fa7fd8","type":"function","z":"b4844c16.4045b8","name":"Temperature Notification","func":"var temp = msg.payload;\nif (temp>22) {\n  msg.payload =  \"Il fait: \" + String(temp) + \"°C \\\n  \\nVotre plante a chaud !\";\n  msg.topic = \"[SPIDS]: Alerte température\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["dfc0788.a605008"]]},{"id":"dfc0788.a605008","type":"delay","z":"b4844c16.4045b8","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":920,"y":60,"wires":[["263b0c38.c5e7ec"]]},{"id":"263b0c38.c5e7ec","type":"e-mail","z":"b4844c16.4045b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1100,"y":60,"wires":[]},{"id":"51c1427f.5a9b14","type":"function","z":"b4844c16.4045b8","name":"Moisture Notification","func":"var hum = msg.payload;\nif (hum<40) {\n  msg.payload =  \"Le taux d'humidité de l'air est: \" + String(hum) + \"% \\\n  \\nVotre plante a soif !\";\n  msg.topic = \"[SPIDS]: Alerte hygrométrie\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["456ce1aa.779f78"]]},{"id":"456ce1aa.779f78","type":"delay","z":"b4844c16.4045b8","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":360,"wires":[["30fcc617.1212fa"]]},{"id":"30fcc617.1212fa","type":"e-mail","z":"b4844c16.4045b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1080,"y":360,"wires":[]},{"id":"f6311e61.76183","type":"function","z":"b4844c16.4045b8","name":"Mouvement","func":"msg.payload = msg.payload.Mouvement;\nif (msg.payload){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":560,"wires":[["5c40573e.38af3"]]},{"id":"f9d2f9d3.b58a08","type":"exec","z":"b4844c16.4045b8","command":"/home/pi/Documents/IDS/SPIDS/Sensors/screen_on.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Screen_on","x":810,"y":560,"wires":[[],[],[]]},{"id":"5c40573e.38af3","type":"delay","z":"b4844c16.4045b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":560,"wires":[["f9d2f9d3.b58a08"]]},{"id":"76272770.def12","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"213f35ab.2b765a","type":"ui_group","name":"Temperature 1","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":7,"collapse":false},{"id":"fea76b87.479d58","type":"ui_group","name":"Moisture 1","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"7","collapse":false},{"id":"47b5ce3f.86fd","type":"ui_tab","name":"Sensors","icon":"wb_cloudy","order":2,"disabled":false,"hidden":false}]