Humidite_v2/humidity_dashboard.json
[{"id":"dd55465.17911b8","type":"tab","label":"humidity_dashboard","disabled":false,"info":""},{"id":"4826d903.ec9cd8","type":"debug","z":"dd55465.17911b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":220,"wires":[]},{"id":"ec454a35.dd4f5","type":"serial in","z":"dd55465.17911b8","name":"","serial":"76272770.def12","x":170,"y":220,"wires":[["4826d903.ec9cd8","88adc5fb.af9138","a05c9064.444d3"]]},{"id":"88adc5fb.af9138","type":"ui_gauge","z":"dd55465.17911b8","name":"","group":"5457c3b6.a837c4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#000de6","#ca3838"],"seg1":"","seg2":"","x":360,"y":140,"wires":[]},{"id":"a05c9064.444d3","type":"ui_chart","z":"dd55465.17911b8","name":"","group":"5457c3b6.a837c4","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":300,"wires":[[]]},{"id":"76272770.def12","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5457c3b6.a837c4","type":"ui_group","z":"","name":"Default","tab":"47b5ce3f.86fd","order":1,"disp":true,"width":"6","collapse":false},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]