Sensors/multiple_dashboard_display.json
[{"id":"dd55465.17911b8","type":"tab","label":"humidity_dashboard","disabled":false,"info":""},{"id":"ec454a35.dd4f5","type":"serial in","z":"dd55465.17911b8","name":"Arduino","serial":"76272770.def12","x":70,"y":220,"wires":[["74539209.e1209c"]]},{"id":"ff76999b.6419a","type":"debug","z":"dd55465.17911b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":220,"wires":[]},{"id":"74539209.e1209c","type":"json","z":"dd55465.17911b8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["ff76999b.6419a","51b88b6b.363404","c39cb3b0.47c57"]]},{"id":"51b88b6b.363404","type":"function","z":"dd55465.17911b8","name":"Temperature","func":"msg.payload = msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["174e966.1ba456a","8b408e3a.f6e82","42cb94f8.377564"]]},{"id":"c39cb3b0.47c57","type":"function","z":"dd55465.17911b8","name":"Humidity","func":"msg.payload = Math.round(msg.payload.Humidity);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["d3a0a912.fc1cb","d5812fba.b47e8","e955803a.8a569"]]},{"id":"174e966.1ba456a","type":"ui_gauge","z":"dd55465.17911b8","name":"","group":"213f35ab.2b765a","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"d5812fba.b47e8","type":"ui_gauge","z":"dd55465.17911b8","name":"Humidity","group":"fea76b87.479d58","order":2,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#3d38ca"],"seg1":"","seg2":"","x":700,"y":460,"wires":[]},{"id":"8b408e3a.f6e82","type":"ui_chart","z":"dd55465.17911b8","name":"Temperature","group":"213f35ab.2b765a","order":1,"width":0,"height":0,"label":"Température","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":200,"wires":[[]]},{"id":"d3a0a912.fc1cb","type":"ui_chart","z":"dd55465.17911b8","name":"","group":"fea76b87.479d58","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":700,"y":420,"wires":[[]]},{"id":"42cb94f8.377564","type":"function","z":"dd55465.17911b8","name":"Temperature Notification","func":"var temp = msg.payload;\nif (temp>22) {\n  msg.payload =  \"Il fait: \" + String(temp) + \"°C \\\n  \\nVotre plante a chaud !\";\n  msg.topic = \"[SPIDS]: Alerte température\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["a6133cf.e4a84c"]]},{"id":"a6133cf.e4a84c","type":"delay","z":"dd55465.17911b8","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":60,"wires":[["ff76999b.6419a","a51ea181.7c705"]]},{"id":"a51ea181.7c705","type":"e-mail","z":"dd55465.17911b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":980,"y":60,"wires":[]},{"id":"e955803a.8a569","type":"function","z":"dd55465.17911b8","name":"Humidity Notification","func":"var hum = msg.payload;\nif (hum<80) {\n  msg.payload =  \"Le taux d'humidité de l'air est: \" + String(hum) + \"% \\\n  \\nVotre plante a soif !\";\n  msg.topic = \"[SPIDS]: Alerte hygrométrie\"\nreturn msg;\n    \n}else {msg.payload = null;}\n","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["8751f27a.58b0f"]]},{"id":"8751f27a.58b0f","type":"delay","z":"dd55465.17911b8","name":"Notification rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":360,"wires":[["72a64c93.f384bc","ff76999b.6419a"]]},{"id":"72a64c93.f384bc","type":"e-mail","z":"dd55465.17911b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"Notifier","x":1080,"y":360,"wires":[]},{"id":"76272770.def12","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"213f35ab.2b765a","type":"ui_group","z":"","name":"Temperature","tab":"47b5ce3f.86fd","order":2,"disp":true,"width":"6","collapse":false},{"id":"fea76b87.479d58","type":"ui_group","z":"","name":"Humidity","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Sensors","icon":"wb_cloudy","disabled":false,"hidden":false}]