Weather/openweathermap_API.json
[{"id":"4f68ba6a.8c9d8c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ea3c7d4c.1653e8","type":"ui_template","z":"4f68ba6a.8c9d8c","group":"933f80eb.b7851","name":"Météo","order":1,"width":"0","height":"0","format":"<h3>Météo du jour</h3>\n<p>Météo à Paris le {{msg.payload.sunrise*1000 | date:'d/M'}}</p>\n<div layout=\"row\">\n    <div layout=\"column\" style=\"padding:25px\">\n        <div layout=\"column\" layout-align=\"center center\">\n            <span style=\"color:#3a3a3a!important\">Température</span>\n            <div layout=\"row\" layout-align=\"start center\">\n                <i class=\"fa fa-thermometer fa-fw\"></i>\n                <p style=\"color: black\">{{msg.payload.tempc}}°C</p>\n            </div>\n        </div>    \n        <div layout=\"row\" layout-align=\"center\" style=\"padding:5px\">\n            <i style=\"color:blue\" class=\"fa fa-thermometer-empty fa-fw\" aria-hidden=\"true\"></i>\n            <span flex style=\"color: blue;font-size:10px!important\">{{msg.payload.temp_minc}}°C</span>\n    \n            <i style=\"color:red\" class=\"fa fa-thermometer-full fa-fw\" aria-hidden=\"true\"></i>\n            <span flex style=\"color: red;font-size:10px!important\">{{msg.payload.temp_maxc}}°C</span>\n        </div>\n    </div>\n    <div layout=\"column\" style=\"padding:25px\" layout-align=\"center center\">\n        <span flex>Humidité</span>\n        <span flex style=\"color: black\">{{msg.payload.humidity}} %</span>\n    </div>\n    <div layout=\"column\" style=\"padding:25px\" layout-align=\"center center\">\n        <span flex>Pression Atm.</span>\n        <span flex style=\"color: black\">{{msg.payload.pressure}} mbar</span>\n    </div>\n    <div layout=\"column\" style=\"padding:25px\" layout-align=\"center center\">\n        <p flex>Tendance</p>\n        <p flex style=\"color: black\">{{msg.payload.detail| uppercase}}</p>\n        <i ng-if=\"msg.payload.icon=='01d'\" class=\"fa fa-sun-o fa-2x\" style=\"color:yellow\"></i>\n        <i ng-if=\"msg.payload.icon=='02d'\" class=\"fa fa-cloud fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='03d'\" class=\"fa fa-cloud fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='04d'\" class=\"fa fa-cloud fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='09d'\" class=\"fa fa-tint fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='10d'\" class=\"fa fa-tint fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='11d'\" class=\"fa fa-bolt fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='13d'\" class=\"fa fa-snowflake-o fa-2x\" style=\"color:grey\"></i>\n        <i ng-if=\"msg.payload.icon=='50d'\" class=\"fa fa-cloud fa-2x\" style=\"color:grey\"></i>\n    </div>\n</div>\n<div>\n    <div layout=\"row\" layout-align=\"start center\">\n        <i class=\"fa fa-arrow-circle-up\"></i>\n        <p style=\"margin-left:4px\"> Lever du soleil à {{msg.payload.sunrise*1000 | date:\"HH:MM\"}} </p>\n        <i style=\"margin-left:10px\" class=\"fa fa-arrow-circle-down\"></i>\n        <p style=\"margin-left:4px\"> Coucher du soleil à {{msg.payload.sunset*1000 | date:\"HH:MM\"}}</p>\n    </div>  \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":100,"wires":[[]]},{"id":"d5d69eac.5b33b8","type":"debug","z":"4f68ba6a.8c9d8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"a37c829f.9d067","type":"ui_template","z":"4f68ba6a.8c9d8c","group":"6c9cceeb.b44bb8","name":"reponse","order":3,"width":0,"height":0,"format":"<h3>Météo du jour</h3>\n<p>Réponse décodée avec le <a href=\"https://angular.io/api/common/JsonPipe\" target=\"_blank\">pipe Angular json</a></p>\n<pre>{{msg.payload | json}}</pre>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":160,"wires":[[]]},{"id":"372ff856.93769","type":"openweathermap","z":"4f68ba6a.8c9d8c","name":"Météo à Paris","wtype":"current","lon":"","lat":"","city":"paris","country":"france","language":"fr","x":380,"y":140,"wires":[["ea3c7d4c.1653e8","a37c829f.9d067","d5d69eac.5b33b8"]]},{"id":"98004257.83b128","type":"inject","z":"4f68ba6a.8c9d8c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["372ff856.93769"]]},{"id":"933f80eb.b7851","type":"ui_group","z":"","name":"Prévisions","tab":"4db78db6.6f6f14","order":1,"disp":true,"width":"12","collapse":false},{"id":"6c9cceeb.b44bb8","type":"ui_group","z":"","name":"Réponse OpenWeatherMap","tab":"4db78db6.6f6f14","order":2,"disp":true,"width":"6","collapse":false},{"id":"4db78db6.6f6f14","type":"ui_tab","z":"","name":"Home","icon":"fa-fire","disabled":false,"hidden":false}]