Actuators/activate_by_mail_flow.json
[{"id":"33e6b920.b5332e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac0e13ae.200368","type":"e-mail in","z":"33e6b920.b5332e","name":"Mail reader","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":120,"y":260,"wires":[["2f53bab8.1a43ee"]]},{"id":"2f53bab8.1a43ee","type":"function","z":"33e6b920.b5332e","name":"Led switch","func":"var text = msg.payload;\nvar on = text.indexOf(\"on\"); \nvar off = text.indexOf(\"off\"); \n\nif(on > -1){\n    msg.payload = \"11\";\n}if (off > -1){\n    msg.payload = \"12\";\n}\nreturn msg","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["cb51534d.63ed38"]]},{"id":"42c7749b.4fe9ac","type":"e-mail","z":"33e6b920.b5332e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"test_sender","x":500,"y":120,"wires":[]},{"id":"c93bc017.4f3f98","type":"inject","z":"33e6b920.b5332e","name":"","topic":"led","payload":"switch on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["42c7749b.4fe9ac"]]},{"id":"cb51534d.63ed38","type":"debug","z":"33e6b920.b5332e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":280,"wires":[]}]