Actuators/actuators_flow.json
[{"id":"56194282.af4a8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9edffce3.9beea8","type":"e-mail in","z":"56194282.af4a8c","name":"Mail reader","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":120,"y":260,"wires":[["8b6bdda2.a448d8"]]},{"id":"8b6bdda2.a448d8","type":"function","z":"56194282.af4a8c","name":"Led switch","func":"var text = msg.payload;\nvar on = text.indexOf(\"on\"); \nvar off = text.indexOf(\"off\"); \n\nif(on > -1){\n    msg.payload = \"11\";\n}if (off > -1){\n    msg.payload = \"12\";\n}\nreturn msg","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["1ed49626.121012","cfa400ef.a29f5"]]},{"id":"5ee05091.a2f278","type":"e-mail","z":"56194282.af4a8c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"test_sender","x":500,"y":120,"wires":[]},{"id":"c3656441.72ed08","type":"inject","z":"56194282.af4a8c","name":"","topic":"led","payload":"switch on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["5ee05091.a2f278"]]},{"id":"1ed49626.121012","type":"debug","z":"56194282.af4a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"3e58ecad.52654c","type":"ui_button","z":"56194282.af4a8c","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"photo","tooltip":"","color":"","bgcolor":"","icon":"camera","payload":"","payloadType":"date","topic":"","x":150,"y":620,"wires":[["e1e54ff0.1c48f"]]},{"id":"32bf9a1c.64994e","type":"inject","z":"56194282.af4a8c","name":"Photo scheduler","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":680,"wires":[["e1e54ff0.1c48f"]]},{"id":"e1e54ff0.1c48f","type":"exec","z":"56194282.af4a8c","command":"python3 /home/pi/Documents/projet/take_photo.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":410,"y":640,"wires":[[],[],[]]},{"id":"7a39cb5c.3bdf54","type":"ui_button","z":"56194282.af4a8c","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump","tooltip":"","color":"","bgcolor":"","icon":"","payload":"water","payloadType":"str","topic":"","x":190,"y":460,"wires":[["cfa400ef.a29f5","1ed49626.121012"]]},{"id":"799a4ebc.85979","type":"ui_button","z":"56194282.af4a8c","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change mode","payloadType":"str","topic":"","x":170,"y":520,"wires":[["cfa400ef.a29f5","1ed49626.121012"]]},{"id":"2274833e.dbeb84","type":"ui_button","z":"56194282.af4a8c","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Light","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light*","payloadType":"str","topic":"","x":190,"y":340,"wires":[["cfa400ef.a29f5","1ed49626.121012"]]},{"id":"5a4c193.5129268","type":"ui_button","z":"56194282.af4a8c","name":"","group":"c91e94e8.0661f8","order":1,"width":0,"height":0,"passthru":false,"label":"Pump mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change mode","payloadType":"str","topic":"","x":170,"y":400,"wires":[["cfa400ef.a29f5","1ed49626.121012"]]},{"id":"cfa400ef.a29f5","type":"serial out","z":"56194282.af4a8c","name":"","serial":"76272770.def12","x":600,"y":400,"wires":[]},{"id":"f82a43ec.8f2aa","type":"ui_group","z":"","name":"Camera","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"c91e94e8.0661f8","type":"ui_group","z":"","name":"Light","tab":"47b5ce3f.86fd","order":4,"disp":true,"width":"6","collapse":false},{"id":"76272770.def12","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Actuators","icon":"build","disabled":false,"hidden":false}]