Actuators/actuators_flow.json
[{"id":"2ed05e93.23be42","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e6356a3.dc3f5","type":"e-mail in","z":"2ed05e93.23be42","name":"Mail reader","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":120,"y":260,"wires":[["66d4b89d.535dc"]]},{"id":"66d4b89d.535dc","type":"function","z":"2ed05e93.23be42","name":"Led switch","func":"var text = msg.payload;\nvar on = text.indexOf(\"on\"); \nvar off = text.indexOf(\"off\"); \n\nif(on > -1){\n    msg.payload = \"11\";\n}if (off > -1){\n    msg.payload = \"12\";\n}\nreturn msg","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["7f448ce2.a7d724"]]},{"id":"37dbf749.04f3c","type":"e-mail","z":"2ed05e93.23be42","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ids.spids@gmail.com","dname":"test_sender","x":500,"y":120,"wires":[]},{"id":"25051327.468fe4","type":"inject","z":"2ed05e93.23be42","name":"","topic":"led","payload":"switch on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["37dbf749.04f3c"]]},{"id":"7f448ce2.a7d724","type":"debug","z":"2ed05e93.23be42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":280,"wires":[]},{"id":"d8f568b4.a6d72","type":"ui_button","z":"2ed05e93.23be42","name":"","group":"f82a43ec.8f2aa","order":1,"width":0,"height":0,"passthru":false,"label":"photo","tooltip":"","color":"","bgcolor":"","icon":"camera","payload":"","payloadType":"date","topic":"","x":130,"y":380,"wires":[["c94cc02a.33722"]]},{"id":"266a59b7.6d29b6","type":"inject","z":"2ed05e93.23be42","name":"Photo scheduler","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["c94cc02a.33722"]]},{"id":"c94cc02a.33722","type":"exec","z":"2ed05e93.23be42","command":"python3 /home/pi/Documents/projet/take_photo.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":390,"y":400,"wires":[[],[],[]]},{"id":"f82a43ec.8f2aa","type":"ui_group","z":"","name":"Camera","tab":"47b5ce3f.86fd","order":3,"disp":true,"width":"6","collapse":false},{"id":"47b5ce3f.86fd","type":"ui_tab","z":"","name":"Actuators","icon":"build","disabled":false,"hidden":false}]